html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    background-color: #f9ea96;
}
a {
    color: #584c0a;
}
h1, h2, h3, h4 {
    color: black;
    text-align: center;
    background-color: #f0df7d;
    padding: 8px 16px;
}
hr {
    border: none;
    border-bottom: 2px solid #87761c;
}
p {
    padding: 20px;
}
.header {
    padding: 10px;
}
.main_body {
    display: grid;
    grid-template-columns: 700px;
    padding: 10px;
}
.footer {
    padding: 15px;
}
.item1 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 10px;
    background-image: url("https://www.vincentvangogh.org/images/paintings/olive-trees-with-yellow-sky-and-sun.jpg");
    border-radius: 10px;
}
.item2 {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 10px;
    background-image: url("https://i0.wp.com/mossandfog.com/wp-content/uploads/2017/11/grasshopper-van-gogh-moss-and-fog-cover.jpg");
    border-radius: 10px;
}