html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ccc;
    background-color: rgb(15, 0, 7);
}
body {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(172, 204, 252);
    border: 1px;
    padding: 2px 8px;
    border-radius: 16px;
    text-decoration: none;
}
a:hover {
    background-color: darkred;
}
p {
    padding: 8px 16px;
}
h1, h2 {
    margin: 0;
}
h1, h2, h3, h4 {
    color: #ccddff;
    background-color: #024;
    border-bottom: 4px solid #39f;
    padding: 8px 16px;
    text-align: center;
}
ul, ol {
    padding-bottom: 16px;
}
.header {
    background-color: #002848;
    margin: 0;
    padding-top: 0;
}

.content {
    background-color: #036;
    text-align: center;
}

.kova {
    width: 80%;
    max-width: 800px;
    height: 400px;
    background-image: url('kova.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border: 4px solid #dd4a68;
    border-radius: 32px;
    text-align: center;
}

.kova h2 {
    margin-top: 44px;
    border: none;
    background-color: #84666666;
}

.tube {
    text-align: center;
}

.tube iframe {
    margin: 16px auto;
    border: 2px solid #39f;
    border-radius: 32px;
    max-width: 90%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.courses table{
    margin: 0 auto;
    border: 1px solid #abc;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 600px;
}

.courses table th, .courses table td {
    border-bottom: 1px solid #fff;
    padding: 4px 8px;
}

.courses tr:last-child th, tr:last-child td {
    border-bottom: 1px solid #abc !important;
}

.courses table caption {
    font-size: 150%;
    font-weight: 600;
    color: rgb(1, 12, 23);
}

.courses tr:hover:not(:first-child){
    background-color: #002848;
}

.courses tr:first-child{
    background-color: rgb(0, 16, 31);
}

.courses tr:nth-child(even) {
    background-color: rgb(57, 57, 101);
}