<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentė</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/airstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>Studentė</h1>
        <h2>airidalabas</h2>
    </div>
    <div class="text">
        <p>Kodėl "labas", nes kiekviena diena tarsi naujiena, visada kuo nors nustebina, kartais tiesiog užtenka praverti <strong>DURIS</strong>..:)</p>
    </div>
    <div class="doors">
    </div>
    <div class="tube">
        <p>O kai durys atsidaro!</p>
        <iframe width="500" height="300" src="https://youtu.be/1g7TrcIlpMk" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <a href="/">atgal į PTU8 grupės puslapį</a>
</body>
</body>
</html>