<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daivos puslapis</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/daiva_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>Studentė</h1>
        <h2>Daiva Reinikė</h2>        
    </div>
    <div class="main_body">
        <div class="item1">
            <p>Vakarykštės nuotaikos</p>
            <p>Olive Trees With Yellow Sky And Sun by Van Gogh</p>        
        </div>
        <div class="item2">
            <p>Šiandienos nuotaikos</p>
            <p>Olive Trees by Van Gogh</p>
        </div>
        <div class="item3">
            <p>Šiek tiek apie Van Gogh</p>
            <iframe width="400" height="250" src="https://www.youtube.com/embed/y5VRXbHp3fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="item4">
            <table>
                <caption>Van Gogh paveikslai (nepilnas sąrašas)</caption>
                <tr>
                    <th>Paveikslo pavadinimas</th>
                    <th>Metai</th>
                    <th>Eksponuojamas</th>
                </tr>
                <tr>
                    <td>Still Life with Cabbage and Clogs</td>
                    <td>November-December 1881</td>
                    <td>Van Gogh Museum, Amsterdam</td>
                </tr>
                <tr>
                    <td>Beach at Scheveningen in Calm Weather</td>
                    <td>August 1882</td>
                    <td>Minnesota Marine Art Museum, Winona</td>
                </tr>
                <tr>
                    <td>Dunes</td>
                    <td>August 1882</td>
                    <td>Private collection</td>
                </tr>
                <tr>
                    <td>Women Mending Nets in the Dunes</td>
                    <td>August 1882</td>
                    <td>Private collection</td>
                </tr>
                <tr>
                    <td>A Girl in the Street, Two Coaches in the Background</td>
                    <td>August 1882</td>
                    <td>Villa Flora, Winterthur</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Gtk-arrow-utl.svg/640px-Gtk-arrow-utl.svg.png" width="10px"> atgal į PTU8 grupės puslapį</a>
    </div>
</body>
</html>