<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daivos puslapis</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/daiva_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Studentė</h1>
    <h2>Daiva Reinikė</h2>
    <p>Kadangi šiandien graži ir saulėta diena, štai jums paveikslėlis:</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Eight-Fold_Screen_Painting_of_the_Sun%2C_Moon_and_Peach_Trees_02.jpg/640px-Eight-Fold_Screen_Painting_of_the_Sun%2C_Moon_and_Peach_Trees_02.jpg" alt="Painting of sun" width="300" class="picture">
    <p>Ačiū už dėmesį!</p>
    <hr>
    <a href="/"><img src="https://cdn.icon-icons.com/icons2/933/PNG/512/back-arrow_icon-icons.com_72866.png" width="10px"> atgal į PTU8 grupės puslapį</a>
</body>
</html>