<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dėstytojas</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header">
        <h1>Dėstytojas</h1>
        <h2>Kęstutis Januškevičius</h2>
    </div>
    <div class="courses">
        <table>
            <caption>Kursai</caption>
            <tr>
                <th>Nr.</th>
                <th>Pavadinimas</th>
                <th>Trukmė</th>
            </tr>
            <tr>
                <th>1</tH>
                <td>Python Pagrindai</td>
                <td class="text-right">20 d.</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Duomenų bazės</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Python giliau: duomenų mokslas, mašininis mokymasis</td>
                <td class="text-right">15 d.</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Frontendas, HTML ir CSS</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Django</td>
                <td class="text-right">10 d.</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Linux ir Docker</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>7</th>
                <td>Praktinis darbas</td>
                <td class="text-right">10 d.</td>
            </tr>
        </table>
    </div>
    <div class="tube">
        <p>Kai nedėstom, skraidom!</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Nv_wAcKjjxg"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="content">
        <p class="text-center">Just look at this...</p>
        <div class="sunset">
            <h2>See you tomorrow</h2>
        </div>
        <p><a href="/">atgal į PTU8 grupės puslapį</a></p>
    </div>
</body>

</html>