<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentas</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" type="text/css">
    <link href="/static/dov_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>Studentas</h1>
        <h2>Dovydas Žalys</h2>
    </div>
    <div class="courses">
        <table>
            <caption>Medziai</caption>
            <tr>
                <th>Nr.</th>
                <th>Pavadinimas</th>
                <th>Aukstis</th>
            </tr>
            <tr>
                <th>1</tH>
                <td>Karališkasis eukaliptas</td>
                <td class="text-right">152 m.</td>
            </tr>
            <tr>
                <th>2</tH>
                <td>Pakrantinė pocūgė</td>
                <td class="text-right">142 m.</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Visžalė sekvoja</td>
                <td class="text-right">129,26 m.</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Didysis mamutmedis</td>
                <td class="text-right">129 m.</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Rutulinis eukaliptas</td>
                <td class="text-right">101 m.</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Didžioji šorėja</td>
                <td class="text-right">100,8 d.</td>
            </tr>
            <tr>
                <th>7</th>
                <td>Kvapusis kėnis</td>
                <td class="text-right">99,06 d.</td>
            </tr>
        </table>
    </div>
    <div class="tube">
    <p>Vaizdo irasas, ziurim</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/18tqf4WgzLE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="content">
        <p class="text-center">Idomu kaip taip...</p>
        <div class="strange">
            <h2>medeliai</h2>
    </div>
    <p><a href="/">atgal į PTU8 grupės puslapį</a></p>
</div>
</body>
</html>