<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eglė Motiejūnaitė</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>Studentė</h1>
        <h2>Eglė Motiejūnaitė</h2>
    </div>
    <div class="result_table">
        <table>
            <caption>Results</caption>
            <tr>
                <th>Team</th>
                <th>Score</th>
            </tr>
            <tr>
                <th class="team">Bebriukai</th>
                <td class="negative"> 30</td>
            </tr>
            <tr>
                <th class="team">Giliukai</th>
                <td class="positive">50</td>
            </tr>
            <tr>
                <th class="team">Kailiukai</th>
                <td class="neutral">34</td>
            </tr>
        </table>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A30IuIjQYYg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="content">
        <div class="tree">
            <h2>...WOW...</h2>
        </div>
        <p></p><a href="/">atgal į PTU8 grupės puslapį</a></p>
    </div>
</body>
</html>