<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentas -> Giedrius Išora</title>
</head>
<body>
    <h1>Studentas</h1>
    <h2>Giedrius Išora</h2>
    <p><strong>Kontaktai:</strong></p>
    <ul type="disc">
        <li><a href="https://onesquareminesweeper.com/">Tinklalapis</a></li>
        <li><a href="mailto:giedrius.isora@codeacademylt.onmicrosoft.com">El. paštas</a></li>
    </ul>
    <img src="https://www.mememaker.net/static/images/memes/4854021.jpg" alt="Work in Progress" />
    <hr>
    <a href="/">atgal į PTU8 grupės puslapį</a>
</body>
</html>