<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Example</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/gridukas.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="layout-item">
        <ul class="top-menu">
            <li class="logo">PTU8 Gridas</li>
            <li><a href="/gridukas/">Home</a></li>
            <li><a href="/">old version</a></li>
        </ul>
    </header>
    <main class="layout-item">
        <h1>Penktadienis!</h1>
        <p>Here we will have fun!</p>
        <img src="/static/night.jpg">
    </main>
    <aside class="layout-item">
        <h3>Studentai</h3>
        <ul class="flex-list">
            <li><a href="/daiva/">Daiva Reinikė</a></li>
            <li><a href="/dovydas/">Dovydas Žalys</a></li>
            <li><a href="/studentas/">Sandra Krisiūnaitė</a></li>
            <li class="example">Vardenis Pavardenis</li>
            <li><a href="/monika/">Monika N</a></li>
            <li><a href="/edvard_p/">Edvardas Poška</a></li>
            <li><a href="/airida/">airidalabas</a></li>
            <li><a href="/gisora/">Giedrius Išora</a></li>
            <li><a href="/egle/">Eglė Motiejūnaitė</a></li>
        </ul>
    </aside>
    <footer class="layout-item">
        <p>&copy; 2023 PTU8 team</p>
    </footer>
</body>
</html>