<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU8 - super studentų grupė</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        html{
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: #ccc;
        }
        a { color: #0066ff;
        }
        h1, h2, h3, h4 {
            color: #ccddff;
            background-color: #024;
            border: 1px solid black;
            border-bottom: 4px solid #39f;
            padding: 8px 16 px;
        }
        hr{
            border: none;
            border-bottom: 2px solid;
        }


    </style>
</head>
<body>
    <h1>PTU8 Python Kursas</h1>
    <p>Mūsų super sėkminga ir smagi studentų grupė</p>
    <hr>
    <h3>Dėstytojas</h3>
    <ul>
        <li><a href="/destytojas/">Kęstutis Januškevičius</a></li>
    </ul>
    <h3>Studentų sąrašas</h3>
    <ul>
        <li><a href="/airida/">airidalabas</a></li>
    </ul>
        <li style ="color: blue;"</li>
</body>
</html>
