<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studente</title>
    <link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet" type="text/css">
    <link href="/static/moni_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <H1>Studente</H1>
    <h2>Monika N</h2>
    <h3>Pagaliau sviecia saule!</h3>
    <hr>
    <a href="/">atgal i PTU8 grupes puslapi</a>
</body>
</html>