<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentas</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>Studentas</h1>
        <h2>Sandra Krisiūnaitė</h2>
    </div>
    <div class="content">
        <p>&#127774 Positive vibes &#127774</p>
        <div class="kova">
            <h2>Flip a coin... When it's in the air, youll know which side you're hoping for...</h2>
        </div>
    <div class="tube">
        <p>&#127928 Muzika valdo pasaulį &#127928</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4nLHpoKqUHs" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="courses">
        <p>&#128214 Perskaitytos knygos 2022m &#128214</p>
            <table>
                <tr>
                    <th>Nr.</th>
                    <th>Knygos pavadinimas</th>
                    <th>Autorius</th>
                </tr>
                <tr>
                    <th>1</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/melas/">Melas</a></td>
                    <td>Bonnie Kistler</td>
                </tr>
                <tr>
                    <th>2</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/skerdiko-upelis/">Skerdiko Upelis</a></td>
                    <td>Rachel Caine</td>
                </tr>
                <tr>
                    <th>3</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/dinges-be-zinios/">Dingęs be žinios</td>
                    <td>Dror Mišani</td>
                </tr>
                <tr>
                    <th>4</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/sanatorija/">Sanatorija</td>
                    <td>Sarah Pearse</td>
                </tr>
                <tr>
                    <th>5</tH>
                    <td><a href="https://www.knygos.lt/lt/paieska?q=blogio+labirintas">Blogio labirintas</td>
                    <td>Donato Carrisi</td>
                </tr>
                <tr>
                    <th>6</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/lemtingas-pazadas--detektyve-kima-stoun-/">Lemtingas pažadas</td>
                    <td>Angela Marsons</td>
                </tr>
                <tr>
                    <th>7</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/praeities-demonai/">Praeities demonai</td>
                    <td>Angela Marsons</td>
                </tr>
                <tr>
                    <th>8</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/sveciu-sarasas/">Svečių sąrašas</td>
                    <td>Lucy Foley</td>
                </tr>
                <tr>
                    <th>9</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/angelas-vnvc/">Angelas</td>
                    <td>L.J.Ross</td>
                </tr>
                <tr>
                    <th>10</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/viena-po-kito/">Vieną po kito</td>
                    <td>Chris Carter</td>
                </tr>
                <tr>
                    <th>11</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/juk-esu-mirtis/">Juk esu mirtis</td>
                    <td>Chris Carter</td>
                </tr>
                <tr>
                    <th>12</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/mirusios-sielos--detektyve-kima-ston-/">Mirusios sielos</td>
                    <td>Angela Marsons</td>
                </tr>
                <tr>
                    <th>13</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/persekiojimas/">Atsekt iki namų</td>
                    <td>Mark Edwards</td>
                </tr>
                <tr>
                    <th>14</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/drauge/">Draugė</td>
                    <td>Teresa Driscoll</td>
                </tr>
                <tr>
                    <th>15</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/as--dzeine--dvigubas-gyvenimas--vienas-tikslas---kerstas/">Aš, Džeinė</td>
                    <td>Victoria Helen Stone</td>
                </tr>
                <tr>
                    <th>16</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/apgaule--2021-/">Apgaulė</td>
                    <td>C.L.Taylor</td>
                </tr>
                <tr>
                    <th>17</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/antrininke--knyga-su-defektais--1kmsj/">Antrininkė</td>
                    <td>Dovilė Štuikienė</td>
                </tr>
                <tr>
                    <th>18</tH>
                    <td><a href="https://www.knygos.lt/lt/knygos/einu-tau-is-paskos/">Einu tau iš paskos</td>
                    <td>Rachel Abbot</td>
                </tr>
    </div>
    <div>
        <p><a href="/">atgal į PTU8 grupės puslapį</a></p>
    </div>
</body>
</html>